.collapsible {
    &__head {
        display: block;
    }

    &__symbol {
        transition: rotate $fast-animation-timing;
        rotate: 90deg;
        @include triangle();
    }

    &__symbol_checked {
        rotate: 180deg;
    }

    &__content {
        height: 1px;
        overflow: hidden;
    }

    &__content_checked {
        height: fit-content;
    }

    &__input {
        display: none;
    }

}