.data {
    flex-grow: 1;
    flex-shrink: 1;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        width: 100%;
        height: 100%;
        background-color: $main-grey;


    }

    &__table {
        flex-shrink: 0;
        display: none;
        background-color: $white;
        border-spacing: 0px;
        border-collapse: collapse;
        width: min-content;

        th,
        td {
            overflow: hidden;
            white-space: nowrap;

            width: max-content;
            min-width: 100px;
            max-width: 1000px;

            height: 30px;
            padding: 0 8px;

            border: 1px solid $third-grey;
            font-size: inherit;
            font-weight: inherit;
            font-style: inherit;
        }

        th:first-child,
        td:first-child {
            min-width: 32px;
            text-align: center;
        }

        td:first-child,
        th {
            background-color: $main-grey;
        }

        th {
            border-top: none;
        }

        #dataSettingsBtn {
            cursor: pointer;
            background-color: $white;
        }

        &_shown {
            display: table;
        }
    }

    &__column-header {
        display: flex;
        gap: 4px;
    }

    &__var-icon {
        position: relative;
        cursor: pointer;
        @include single-image($type-icon-size, $type-icon-size);
        min-width: 18px;

    }

    &__var-name {
        white-space: nowrap;
    }

    &__footer {

        bottom: 0;
        left: 0;
        width: 0;
        background-color: $main-grey;
    }
}