.error-show {
    cursor: default;
    pointer-events: none;
    border: none;
    background-color: transparent;
    position: absolute;
    z-index: 99999;
    visibility: hidden;
    width: 1px;
    height: 1px;
    margin: 0;
}

@-moz-document url-prefix() {
    .error-show {
        visibility: visible;
        appearance: none;
        background-color: transparent;
        width: 0px;
        height: 0px;
    }
}