.error-show {
    cursor: default;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: none;
    border: none;
    background-color: transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 99999;
}