.extra {
    $extra-img-size: 18px;
    $extra-size: 24px;
    border: none;
    @include single-image($extra-size, $extra-size);
    background-size: $extra-img-size;
    border-radius: 999px;

    &_edit-button {
        background-image: url("../img/extra/edit.png");
    }

    &_hide-button {
        background-image: url("../img/extra/hide.png");

        input {
            display: none;
        }

        &_hidden {
            background-image: url("../img/extra/unhide.png");
        }
    }

    &_duplicate-button {
        background-image: url("../img/extra/duplicate.png");
    }

    &_delete-button {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: url("../img/extra/delete.png");
            @include single-image(100%, 100%);
            background-size: $extra-img-size;
            transform: rotate(45deg);
        }
    }
}