.main-button {
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    border-radius: 10px;

    &:hover {
        background-color: $second-grey;
    }

    &:active {
        background-color: $third-grey;
    }

    &_focused {
        border: 1px solid $main-blue;
    }
}