.modal-var-types {
    $modal-width: 400px;
    $padding-width: 16px;
    top: 100px;
    left: 200px;
    background-color: $white;
    width: $modal-width;
    max-width: $modal-width;
    z-index: 1002;

    &__form {
        max-width: $modal-width;
    }

    &__fieldset {
        padding: $padding-width;
        min-width: $modal-width;
        width: $modal-width;
        max-width: $modal-width;
    }

    &__name-line {
        width: 100%;

        input {
            flex-grow: 1;
        }
    }

    &__var-choose {}

    &__item {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px 10px 4px 4px;
        border-radius: 5px;
        width: max-content;
    }

    &__rang-settings {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    &__unite {
        margin-top: 20px;
        width: $modal-width - $padding-width * 2;
    }

    &__united-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        width: 100%;
        margin-top: 8px;
        padding-left: 16px;
    }

    &__united-var {
        flex: 0 1 auto;
        display: flex;
        min-width: $modal-width * 0.3;
        // max-width: 100%;
        align-items: center;
        gap: 4px;
        overflow: hidden;
        white-space: nowrap;
        padding: 4px 10px 4px 4px;
        border: 1px solid $main-blue;
        // background-color: $main-grey;
        border-radius: 5px;
    }

    &__united-delete {
        flex: 0 0 auto;

        input {
            display: none;
        }
    }

    &__rang-settings-inner {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        max-width: 100%;
    }

    &__rang-table {
        display: flex;
        gap: 4px;
        flex: 1 1;
        max-width: 100%;
    }

    &__rang-table-body {
        width: 100%;
        min-height: 16vh;
        max-height: 16vh;
        height: 100%;
    }

    &__img {
        @include single-image($type-icon-size, $type-icon-size);

        &_nominal {
            background-image: url("../img/table/scaleNominal.png");
        }

        &_continues {
            background-image: url("../img/table/scaleContinues.png");
        }

        &_rang {
            background-image: url("../img/table/scaleRang.png");
        }

        &_rang-united {
            background-image: url("../img/table/scaleRangUnited.png");
        }

        &_binary {
            background-image: url("../img/table/scaleBinary.png");
        }
    }

    &__level-controls {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: max-content;
        height: max-content;
    }

    &__binary-settings {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    &__binary-settings-inner {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        max-width: 100%;
    }

    &__binary-table {
        $gap: 4px;
        display: flex;
        gap: $gap;
        flex: 1 1;
        max-width: 100%;
        order: 3;

        &:first-child {
            order: 1;
        }
    }

    &__binary-table-body {
        width: 100%;
        flex: 2 0 16vh;
    }

    &__switch-container {
        display: flex;
        align-items: center;
        order: 2;
    }

    &__unite-btn {
        padding: 8px 10px;
        background-color: $main-grey;

        input {
            display: none;
        }
    }
}