.var-table {
    $inner-gap-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    gap: 4px;

    &__header {
        width: 100%;
        white-space: nowrap;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // min-width: 225px;
        // min-height: 130px;
        padding: $varTableBodyPadding;
        gap: $inner-gap-width;
        overflow: auto;
        background-color: $white;
        border: 1px solid $second-grey;
        border-radius: 5px;
        // @include custom-scrollbar;

    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: $varTableItemPadding 10px $varTableItemPadding $varTableItemPadding;
        border-radius: 5px;
        border: 1px solid transparent;
        min-width: 100%;
        max-width: max-content;
        white-space: nowrap;

        input {
            display: none;
        }

        &:hover {
            border: 1px solid $focus-blue;
        }

        &:has(input:checked) {
            border: 1px solid $main-blue;
        }

        // &_selected {
        //     border: 1px solid $main-blue;
        // }
    }

    &__anchor {
        max-height: 0px;
        margin-bottom: -$inner-gap-width;
    }

    &__img {
        @include single-image($type-icon-size, $type-icon-size)
    }
}