@import "./reset.scss";
@import './colors.scss';
@import './typography.scss';

$type-icon-size: 18px;
$animation-timing: 200ms ease-in-out;
$fast-animation-timing: 100ms ease-in-out;
$header-height: 74px;
$parameters-width: 600px;
$calculations-width: calc(50% + #{$parameters-width} / 2);


@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        border: 1px;
        width: 12px;
        height: 12px;
        background-color: $second-grey;
    }

    &::-webkit-scrollbar-track {}

    &::-webkit-scrollbar-thumb {
        background-color: $white;
        outline: 1px solid $second-grey;
        box-shadow: inset 1px 1px 0px $second-grey;
    }

    &::-webkit-scrollbar-corner {
        background-color: $main-grey;
    }
}

@mixin single-image($size) {
    width: $size;
    height: $size;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button {
    cursor: pointer;
}

.main-button {
    cursor: pointer;

    &:hover {
        background-color: $second-grey;
    }

    &:active {
        background-color: $third-grey;
    }

    &_focused {
        border: 1px solid $main-blue;
    }
}

.page-header {
    &__inner {
        display: flex;
        position: relative;
        z-index: 1000;
        height: $header-height;
        background-color: $main-grey;
        border-bottom: 1px solid $stroke-grey;
        box-shadow: 0px 4px 10px $shadow;
    }

    &__burger-menu {
        width: 58px;
        height: 100%;
    }
}

.burger-menu {
    $bar-width: 30px;
    $bar-height: 4px;
    $burger-gap: 6px;
    $height: ($bar-height*3)+($burger-gap*2);
    $x-width: ($height * 1.41421356237);
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;
        gap: $burger-gap;
        width: max-content;

        &::after,
        &::before,
        input {
            content: '';
            width: $bar-width;
            height: $bar-height;
            background-color: $main-blue;
            border-radius: 9999px;
            transform-origin: left center;
            transition: opacity $animation-timing, width $animation-timing, rotate $animation-timing;
        }

        input {
            appearance: none;
            padding: 0;
            margin: 0;
            outline: 0;
            pointer-events: none;
        }

        &:has(input:checked)::before {
            rotate: 45deg;
            width: $x-width;
            translate: 0 $bar-height / -2;
        }

        &:has(input:checked)::after {
            rotate: -45deg;
            width: $x-width;
            translate: 0 $bar-height / 2;

        }

        input:checked {
            opacity: 0;
            width: 0;
        }
    }
}

.modules {

    &__list {
        display: flex;
        flex-direction: row;
    }

    &__item {
        display: flex;
        align-items: center;

        &::after {
            content: "";
            width: 1px;
            height: 70%;
            background-color: $third-grey;
        }

        &:last-child::after {
            all: unset;
        }

        &:hover>* {
            transform: scale(1.05);
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: max-content;
        padding: 7px 12px;


    }

    &__icon {
        height: 41px;

        img {
            max-height: 100%;
        }
    }

    &__description {}
}

.sidebar {
    translate: -100%;
    z-index: 999;
    position: absolute;
    top: $header-height;
    left: 0;
    width: max-content;
    max-width: 20rem;
    background-color: $main-grey;
    height: calc(100vh - #{$header-height});
    border-right: 1px solid $stroke-grey;
    transition: translate $animation-timing;

    &__inner {
        padding: 4px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    &__item {
        padding: 8px 32px 8px 10px;
        border-radius: 10px;
    }
}

.page-header:has(.burger-menu__content input:checked)+.sidebar {
    translate: 0;
}

.fade {
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $fade;
    transition: opacity $animation-timing;
}

.page-body {
    position: relative;
    width: 100%;
    height: calc(100vh - #{$header-height});
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: hidden;

    &__item {
        height: 100%;
        overflow: hidden;
    }
}

.nominal-img {
    background-image: url("../img/table/scaleNominal.png");
}

.continues-img {
    background-image: url("../img/table/scaleContinues.png");
}

.rang-img {
    background-image: url("../img/table/scaleRang.png");
}

.binary-img {
    background-image: url("../img/table/scaleBinary.png");
}


.data {
    flex-grow: 1;
    flex-shrink: 1;

    &__container {
        position: relative;
        overflow: scroll;
        width: 100%;
        height: 100%;
        background-color: $main-grey;
        @include custom-scrollbar;
    }

    &__table {
        background-color: $white;
        border-spacing: 0px;
        border-collapse: collapse;


        th,
        td {
            border: 1px solid $third-grey;
            min-width: 100px;
            max-width: 1000px;
            overflow: hidden;
            width: max-content;
            padding: 4px 8px;
            font-size: inherit;
            font-weight: inherit;
            font-style: inherit;
        }

        th:first-child,
        td:first-child {
            min-width: 32px;
            text-align: center;
        }

        td:first-child,
        th {
            background-color: $main-grey;
        }

        #dataSettingsBtn {
            background-color: $white;
        }



    }

    &__column-header {
        display: flex;
        gap: 4px;
    }

    &__var-icon {
        @include single-image($type-icon-size);

    }

    &__var-name {}

    &__footer {
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 36px;
        background-color: $main-grey;
        border-top: 1px solid $stroke-grey;
    }
}


.footer {
    &__inner {
        display: flex;
        margin-left: 78px;
    }

    &__list {
        display: flex;
        width: max-content;
    }

    &__item {
        display: flex;
        align-items: center;
        margin: -1px -1px;

        &:first-child::before,
        &::after {
            content: "";
            width: 1px;
            height: 70%;
            background-color: $third-grey;
        }

        &_selected {
            cursor: default;
            position: relative;
            background-color: $white;
            border-left: 1px solid $stroke-grey;
            border-right: 1px solid $stroke-grey;
            @include bold-text;

            &:before {
                all: unset;
            }

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content: "";
                width: 100%;
                height: 3px;
                background-color: $main-blue;
            }
        }

        &:not(&_selected):hover {
            &>.footer__item-content {
                opacity: 0.5;
            }
        }
    }

    &__item-content {
        padding: 4px 18px;
    }

    &__add-sheet {
        display: flex;
        align-items: center;
        padding: 4px 18px;

        &:hover {
            opacity: 0.5;
        }
    }
}

.calculation-window {
    flex-shrink: 0;
    width: $calculations-width;
    display: flex;
    background-color: aquamarine;

    &__element {}
}

.resize-bar {
    min-width: 22px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: w-resize;


    border-left: 1px solid $stroke-grey;
    border-right: 1px solid $stroke-grey;
    background-color: $main-grey;

    &__icon {
        display: flex;
        flex-direction: column;
        gap: 4px;

        div,
        &::before,
        &::after {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 9999px;
            background-color: $third-grey;
        }
    }


}

.parameters {
    $extra-img-size: 18px;
    $extra-size: 24px;
    min-width: $parameters-width;
    background-color: $main-grey;

    &__container {
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        // height: max-content; choose this later

        @include custom-scrollbar;
    }

    &__item {
        border-bottom: 1px solid $third-grey;
    }

    &__head {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title-container {
        display: flex;
        align-items: center;
        gap: 10px
    }

    &__title {}

    &__extra-container {
        display: flex;
    }

    &__extra-item {
        border: none;
        @include single-image($extra-size);
        background-size: $extra-img-size;
        border-radius: 999px;
    }

    &__edit-button {
        background-image: url("../img/extra/edit.png");
    }

    &__hide-button {
        background-image: url("../img/extra/hide.png");

        input {
            display: none;
        }

        &:has(input:checked) {
            background-image: url("../img/extra/unhide.png");
        }
    }

    &__duplicate-button {
        background-image: url("../img/extra/duplicate.png");
    }

    &__delete-button {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: url("../img/extra/delete.png");
            @include single-image(100%);
            background-size: $extra-img-size;
            transform: rotate(45deg);
        }
    }

    &__content {
        padding: 8px 16px 16px 16px;
    }

    &:has(&__hide-button > input:checked) &__content {
        opacity: 0.2;
    }
}

.collapsible {

    &__head {
        display: block;
    }

    &__symbol {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 9px solid $black;
        border-bottom: 5px solid transparent;
        transition: rotate $fast-animation-timing;
    }

    &__content {
        height: 1px;
        overflow: hidden;
    }

    input {
        display: none;
    }

    input:checked~&__content {
        height: fit-content;
    }

    input:checked+&__head &__symbol {
        rotate: 90deg;
    }
}

.results {
    flex-grow: 1;
    background-color: $white;

    &__container {}
}

.modal-var-types {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $main-grey;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 5px 4px;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px 10px 4px 4px;
        border-radius: 5px;

        input {
            display: none;
        }
    }

    &__img {
        @include single-image($type-icon-size);
    }
}