@import "./reset.scss";
@import './colors.scss';
@import './typography.scss';

$type-icon-size: 18px;
$animation-timing: 200ms ease-in-out;
$fast-animation-timing: 100ms ease-in-out;
$header-height: 74px;
$parameters-width: 600px;
$calculations-width: calc(50% + #{$parameters-width} / 2);
$triangle-width: 9px;
$triangle-height: 10px;
$default-input-padding: 11px;
$right-select-padding: $default-input-padding * 2+$triangle-width;
$hideOpacity: 0.3;

@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        // border: 1px;
        width: 12px;
        height: 12px;
        background-color: $second-grey;
    }

    &::-webkit-scrollbar-track {}

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $white;
        outline: 1px solid $second-grey;
        box-shadow: inset 1px 1px 0px $second-grey;

        // &:hover {
        //     background-color: $third-grey;
        // }
    }

    &::-webkit-scrollbar-corner {
        background-color: $main-grey;
    }
}

@mixin single-image($width, $height) {
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@mixin triangle {
    background-image: url("@img/triangle.png");
    @include single-image($triangle-width, $triangle-height);
}

@mixin disabled {
    cursor: default;
    pointer-events: none;
    opacity: $hideOpacity;

    * {
        cursor: default;
        pointer-events: none;
    }
}

body {
    overflow: hidden;
}

label {
    cursor: pointer;
}

.main-button {
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background-color: $second-grey;
    }

    &:active {
        background-color: $third-grey;
    }

    &_focused {
        border: 1px solid $main-blue;
    }
}

.page-header {
    &__inner {
        display: flex;
        position: relative;
        z-index: 1000;
        height: $header-height;
        background-color: $main-grey;
        border-bottom: 1px solid $stroke-grey;
        box-shadow: 0px 4px 10px $shadow;
    }

    &__burger-menu {
        width: 58px;
        height: 100%;
    }
}

.burger-menu {
    $bar-width: 30px;
    $bar-height: 4px;
    $burger-gap: 6px;
    $height: ($bar-height*3)+($burger-gap*2);
    $x-width: ($height * 1.41421356237);
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;
        gap: $burger-gap;
        width: max-content;

        &::after,
        &::before,
        input {
            content: '';
            width: $bar-width;
            height: $bar-height;
            background-color: $main-blue;
            border-radius: 9999px;
            transform-origin: left center;
            transition: opacity $animation-timing, width $animation-timing, rotate $animation-timing;
        }

        input {
            appearance: none;
            padding: 0;
            margin: 0;
            outline: 0;
            pointer-events: none;
        }

        &:has(input:checked)::before {
            rotate: 45deg;
            width: $x-width;
            translate: 0 $bar-height / -2;
        }

        &:has(input:checked)::after {
            rotate: -45deg;
            width: $x-width;
            translate: 0 $bar-height / 2;
        }

        input:checked {
            opacity: 0;
            width: 0;
        }
    }
}

.modules {
    min-width: 0;

    &__list {
        display: flex;
        flex-direction: row;
    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        overflow: hidden;

        &::after {
            content: "";
            width: 1px;
            height: 70%;
            background-color: $third-grey;
        }

        &:last-child::after {
            all: unset;
        }

        &:hover>* {
            transform: scale(1.05);
        }

        &:active>* {
            transform: none;
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 7px 12px;
    }

    &__icon {
        height: 41px;

        img {
            max-height: 100%;
        }
    }

    &__description {
        white-space: nowrap;
    }
}

.sidebar {
    translate: -100%;
    z-index: 999;
    position: absolute;
    top: $header-height;
    left: 0;
    width: max-content;
    max-width: 20rem;
    background-color: $main-grey;
    height: calc(100vh - #{$header-height});
    border-right: 1px solid $stroke-grey;
    transition: translate $animation-timing;

    &__inner {
        padding: 4px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    &__item {
        padding: 8px 32px 8px 10px;

        * {
            display: none;
        }
    }
}

.page-header:has(.burger-menu__content input:checked)+.sidebar {
    translate: 0;
}

.fade {
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $fade;
    transition: opacity $animation-timing;
}

.page-body {
    position: relative;
    width: 100%;
    height: calc(100vh - #{$header-height});
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: hidden;

    &__item {
        height: 100%;
        overflow: hidden;
    }
}

.nominal-img {
    background-image: url("../img/table/scaleNominal.png");
}

.continues-img {
    background-image: url("../img/table/scaleContinues.png");
}

.rang-img {
    background-image: url("../img/table/scaleRang.png");
}

.binary-img {
    background-image: url("../img/table/scaleBinary.png");
}


.data {
    flex-grow: 1;
    flex-shrink: 1;

    &__container {
        position: relative;
        overflow: auto;
        width: 100%;
        height: 100%;
        background-color: $main-grey;
        // @include custom-scrollbar;
    }

    &__table {
        display: none;
        background-color: $white;
        border-spacing: 0px;
        border-collapse: collapse;

        th,
        td {
            border: 1px solid $third-grey;
            min-width: 100px;
            max-width: 1000px;
            overflow: hidden;
            width: max-content;
            padding: 4px 8px;
            font-size: inherit;
            font-weight: inherit;
            font-style: inherit;
        }

        th:first-child,
        td:first-child {
            min-width: 32px;
            text-align: center;
        }

        td:first-child,
        th {
            background-color: $main-grey;
        }

        th {
            border-top: none;
        }

        td {
            white-space: nowrap;
        }

        #dataSettingsBtn {
            cursor: pointer;
            background-color: $white;
        }

        &_shown {
            display: table;
        }
    }

    &__column-header {
        display: flex;
        gap: 4px;
    }

    &__var-icon {
        cursor: pointer;
        @include single-image($type-icon-size, $type-icon-size);
        min-width: 18px;
    }

    &__var-name {
        white-space: nowrap;
    }

    &__footer {
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 36px;
        background-color: $main-grey;
        border-top: 1px solid $stroke-grey;
    }
}


.footer {
    &__inner {
        display: flex;

        &::before {
            content: "";
            flex-shrink: 0;
            width: 78px;
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: -1px -1px;
        width: max-content;

        &:first-child::before,
        &::after {
            content: "";
            width: 1px;
            height: 70%;
            background-color: $third-grey;
        }

        &_selected {
            cursor: default;
            position: relative;
            background-color: $white;
            border-left: 1px solid $stroke-grey;
            border-right: 1px solid $stroke-grey;
            @include bold-text;

            &:first-child::before {
                all: unset;
            }

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content: "";
                width: 100%;
                min-width: 0;
                height: 3px;
                background-color: $main-blue;
            }
        }

        &:not(&_selected):hover {
            &>.footer__item-content {
                opacity: 0.5;
            }
        }
    }

    &__item-content {
        display: flex;
        padding-top: 4px;
        padding-bottom: 4px;

        &::before,
        &::after {
            content: "";
            width: 16px;
        }
    }

    &__item-text {
        white-space: nowrap;
    }

    &__add-sheet {
        display: flex;
        align-items: center;
        padding: 4px 18px;

        &:hover {
            opacity: 0.5;
        }
    }
}

.calculation-window {
    flex-shrink: 0;
    width: $calculations-width;
    display: flex;

    &__element {}
}

.resize-bar {
    min-width: 22px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: w-resize;
    border-left: 1px solid $stroke-grey;
    border-right: 1px solid $stroke-grey;
    background-color: $main-grey;
}

.draggable-icon {
    display: flex;
    flex-direction: column;
    gap: 4px;

    div,
    &::before,
    &::after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 9999px;
        background-color: $third-grey;
    }
}

.parameters {
    $extra-img-size: 18px;
    $extra-size: 24px;
    min-width: $parameters-width;
    max-width: $parameters-width;
    background-color: $main-grey;

    &__container {
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;

        // @include custom-scrollbar;
    }

    &__item {
        border-bottom: 1px solid $third-grey;

        &:has(.parameters__hide-button > input:checked) .parameters__content,
        &:has(.parameters__hide-button > input:checked) .parameters__title-container {
            opacity: $hideOpacity;
        }
    }

    &__head {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title-container {
        display: flex;
        align-items: center;
        gap: 10px
    }

    &__title {}

    &__extra-container {
        display: flex;
    }

    &__extra-item {
        border: none;
        @include single-image($extra-size, $extra-size);
        background-size: $extra-img-size;
        border-radius: 999px;
    }

    &__edit-button {
        background-image: url("../img/extra/edit.png");
    }

    &__hide-button {
        background-image: url("../img/extra/hide.png");

        input {
            display: none;
        }

        &:has(input:checked) {
            background-image: url("../img/extra/unhide.png");
        }
    }

    &__duplicate-button {
        background-image: url("../img/extra/duplicate.png");
    }

    &__delete-button {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: url("../img/extra/delete.png");
            @include single-image(100%, 100%);
            background-size: $extra-img-size;
            transform: rotate(45deg);
        }
    }

    &__content {
        padding: 8px 16px 16px 16px;
    }


}

.collapsible {
    &__head {
        display: block;
    }

    &__head:has(.collapsible__input:checked)~&__content {
        height: fit-content;
    }

    &__head:has(.collapsible__input:checked) &__symbol {
        rotate: 180deg;
    }

    &__symbol {
        transition: rotate $fast-animation-timing;
        rotate: 90deg;
        @include triangle();
    }

    &__content {
        height: 1px;
        overflow: hidden;
    }

    &__input {
        display: none;
    }

}

.results {
    position: relative;
    flex-grow: 1;
    min-width: 0;
    background-color: $white;

    &__container {
        display: flex;
        flex-direction: column;
        overflow: auto;
        // @include custom-scrollbar();
        height: 100%;
        gap: 56px;
        padding: 10px 24px 24px 24px;
        max-width: 100%;
    }

    &__block {
        display: flex;
        flex-direction: column;
        min-width: max-content;
        gap: 24px;
    }

    &__block-inner {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__table {
        border-bottom: 2px solid $black;
        border-collapse: collapse;
        max-width: max-content;

        th {

            border-top: 1px solid $black;
            border-bottom: 1px solid $black;
        }

        th,
        td {
            padding: 0 16px 0 16px;
            white-space: nowrap;
            // min-width: 100px;
            text-align: center;
            font-size: inherit;
            font-weight: inherit;
            font-style: inherit;
        }

        caption {
            caption-side: bottom;
            text-align: left;
        }
    }
}

.loader {
    display: none;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 45%;
    border: 10px solid $second-grey;
    /* Light grey */
    border-top: 10px solid $main-blue;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main-input {
    cursor: pointer;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    text-align: center;
    border: 1px solid $second-grey;
    border-radius: 5px;
    padding: 1px 0 1px 0;
    // min-width: 24px;
    width: max-content;

    &:focus-visible {
        box-sizing: border-box;
        border: 1px solid $focus-blue;
        outline: 1px solid $focus-blue;
    }

    &_text {
        cursor: auto;
    }

    &_number {
        cursor: auto;
    }
}

.main-select {
    cursor: pointer;
    position: relative;

    select {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        padding: 0 $right-select-padding 0 $default-input-padding;
    }

    &::after {
        content: "";
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: $default-input-padding;
        translate: 0 $triangle-width / -2;
        @include triangle();
        rotate: 180deg;
    }
}

.main-radio {
    cursor: pointer;
    display: grid;
    place-content: center;
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border: 2px solid $second-grey;
    border-radius: 50%;
    background-color: $white;

    &:checked {
        border: 2px solid $main-blue;
    }
}

.main-checkbox {
    cursor: pointer;
    display: grid;
    place-content: center;
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border: 2px solid $second-grey;
    border-radius: 2px;
    background-color: $white;

    &:checked {
        border: 2px solid $main-blue;
        background-color: $main-blue;
    }
}

.input-line {
    $gap: 15px;
    $postGap: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: $gap;
    width: max-content;

    &__text {}

    &__post {
        margin-left: $postGap - $gap;
    }

    &_disabled {
        @include disabled();
    }
}

.radio-line {
    cursor: pointer;
    display: flex;
    gap: 7px;
    width: max-content;


    &__text {}

    &_disabled {
        @include disabled();
    }
}

.option-block {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__sub {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &>.radio-line:has(input:not(:checked))~.option-block__list {
            @include disabled();
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: max-content;
        gap: 8px;
        padding-left: 16px;
    }

    &__two-column {
        display: flex;
        // flex-wrap: wrap;
        gap: 16px;

        &>* {
            flex-grow: 1;
            flex-basis: calc((100% - 16px) / 2);
        }
    }

    &__tables {
        display: flex;
        gap: 22px;
    }
}

.switch-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    // min-width: 30px;
    height: 18px;
    // min-height: 18px;
    border-radius: 5px;
    border: 1px solid $third-grey;
    background-color: $second-grey;

    &_up {
        height: 30px;
        width: 18px;
    }

    &_down {
        height: 30px;
        width: 18px;

        * {
            rotate: 180deg;
        }
    }

    &_left {
        * {
            rotate: -90deg;
        }
    }

    &_right {
        * {
            rotate: 90deg;
        }
    }

    &:hover {
        opacity: 0.5;
    }

    &__symbol {
        @include triangle();
        opacity: 0.65;
    }
}

.var-table {
    $inner-gap-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    gap: 4px;

    &__header {
        width: 100%;
        white-space: nowrap;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // min-width: 225px;
        // min-height: 130px;
        padding: 4px;
        gap: $inner-gap-width;
        overflow: auto;
        background-color: $white;
        border: 1px solid $second-grey;
        border-radius: 5px;
        // @include custom-scrollbar;

    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 2px 10px 2px 2px;
        border-radius: 5px;
        border: 1px solid transparent;
        min-width: 100%;
        max-width: max-content;
        white-space: nowrap;

        input {
            display: none;
        }

        &:hover {
            border: 1px solid $focus-blue;
        }

        &:has(input:checked) {
            border: 1px solid $main-blue;
        }

        // &_selected {
        //     border: 1px solid $main-blue;
        // }
    }

    &__anchor {
        max-height: 0px;
        margin-bottom: -$inner-gap-width;
    }

    &__img {
        @include single-image($type-icon-size, $type-icon-size)
    }
}

// MODAL WINDOWS //

.modal-window {
    display: none;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    &__header {
        cursor: move;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20px;

        background-color: $main-grey;
    }

    &__header-icon {
        flex-direction: row;
    }
}

.modal-var-types {
    display: none;
    $modal-width: 400px;
    $padding-width: 16px;
    top: 100px;
    left: 200px;
    background-color: $white;
    width: $modal-width;
    max-width: $modal-width;
    z-index: 1002;

    &__form {
        max-width: $modal-width;
    }

    &__fieldset {
        padding: $padding-width;
        min-width: $modal-width;
        width: $modal-width;
        max-width: $modal-width;
    }

    &__name-line {
        width: 100%;

        input {
            flex-grow: 1;
        }
    }

    &__var-choose {
        &:has(.modal-var-types__rang:checked)~.modal-var-types__rang-settings {
            display: block;
        }

        &:has(.modal-var-types__binary:checked)~.modal-var-types__binary-settings {
            display: block;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px 10px 4px 4px;
        border-radius: 5px;
        width: max-content;
    }

    &__rang-settings {
        display: none;
        width: 100%;
        max-width: 100%;
    }

    &__rang-settings-inner {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        max-width: 100%;
    }

    &__rang-table {
        display: flex;
        gap: 4px;
        flex: 1 1;
        max-width: 100%;
    }

    &__rang-table-body {
        width: 100%;
        min-height: 16vh;
        max-height: 16vh;
        // resize: vertical;
        height: 100%;
    }

    &__img {
        @include single-image($type-icon-size, $type-icon-size);
    }

    &__level-controls {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: max-content;
        height: max-content;
    }

    &__binary-settings {
        display: none;
        width: 100%;
        max-width: 100%;
    }

    &__binary-settings-inner {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        max-width: 100%;
    }

    &__binary-table {
        $gap: 4px;
        display: flex;
        gap: $gap;
        flex: 1 1;
        max-width: 100%;
        order: 3;

        &:first-child {
            order: 1;
        }

        &:nth-child(2):has(input:checked)~.modal-var-types__switch-container>.switch-button {
            rotate: 180deg;
        }
    }

    &__binary-table-body {
        width: 100%;
        // min-height: 16vh;
        // max-height: 100vh;
        flex: 2 0 16vh;
        // resize: vertical;

    }

    &__switch-container {
        display: flex;
        align-items: center;
        order: 2;
    }

    &__btn-container {
        display: flex;
        gap: 16px;
    }

    &__btn {
        padding: 8px 10px;
    }
}


.modal-settings {
    z-index: 1001;
    display: none;
    position: absolute;
    top: 100px;
    left: 10px;
    width: max-content;
    background-color: $white;

    &__fieldset {
        padding: 16px;
    }

    &__btn-container {
        display: flex;
        gap: 16px;
    }

    &__btn {
        padding: 8px 10px;
    }
}