@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');



body {
    font-family: "Open Sans", sans-serif;
    color: $black;
    font-weight: 400;
    font-size: 14px;
    line-height: $line-height;
}

@mixin bold-text {
    font-weight: 600;
    font-size: 14px;
    line-height: $line-height;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

b {
    @include bold-text;
}

small {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.number {
    color: $dark-blue;
}